body,table {
	font-size: 12px;
}

table {
	table-layout: fixed;
	empty-cells: show;
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	height: 20px;
}

h1,h2,h3 {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.title {
	background: #FFF;
	border: 1px solid #9DB3C5;
	padding: 1px;
	width: 90%;;
	margin: 20px auto;
}

.title h1 {
	line-height: 31px;
	text-align: center;
	background: #2F589C url(th_bg2.gif);
	background-repeat: repeat-x;
	background-position: 0 0;
	color: #FFF;
}

.title th,.title td {
	border: 1px solid #CAD9EA;
	padding: 5px;
}

table.t3 {
	border: 1px solid #96C2F1;
}

table.t3 th {
	background-color: #cad9ea;
	background-repeat: : repeat-x;
	height: 30px;
}

table.t3 td {
	border: 1px dashed #cad9ea;
	padding: 0 1.5em 0;
}

table.t3 th {
	border: 1px solid #96C2F1;
	padding: 0 2px 0;
}

table.t3 tr.a1 {
}


.style1{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #96C2F1;
background-color: #EFF7FF
}

.style2{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #9BDF70;
background-color: #F0FBEB
}

.style3{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #BBE1F1;
background-color: #EEFAFF
}

.style4{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CCEFF5;
background-color: #FAFCFD
}

.style5{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #FFCC00;
background-color: #FFFFF7
}

.style6{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #92B0DD;
background-color: #FFFFFf
}
.style6 h5{
margin: 1px;
background-color: #E2EAF8;
height: 24px;
}

.style7{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #A9C9E2;
background-color: #E8F5FE
}

.style8{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #E3E197;
background-color: #FFFFDD
}

.style9{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #ADCD3C;
background-color: #F2FDDB
}

.style10{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #F8B3D0;
background-color: #FFF5FA
}

.style11{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #D3D3D3;
background-color: #F7F7F7
}

.style12{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #BFD1EB;
background-color: #F3FAFF
}

.style13{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #FFDD99;
background-color: #FFF9ED
}

.style14{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CACAFF;
background-color: #F7F7FF
}

.style15{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #A5B6C8;
background-color: #EEF3F7
}
.style16{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CEE3E9;
background-color: #F1F7F9
} 